{{ define "extra.artifacthub" -}}
[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/{{ .Name }})](https://artifacthub.io/packages/search?repo={{ .Name }})
{{- end }}
