apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "slskd.configMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "slskd.labels" . | nindent 4 }}
data:
  slskd.yml: |
    {{- toYaml .Values.app.config | nindent 4 }}
