apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "slskd.configMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "slskd.labels" . | nindent 4 }}
data:
  slskd.yml: |
    remote_configuration: {{ .Values.app.remoteConfiguration }}

    directories:
      incomplete: {{ .Values.app.directories.incomplete }}
      downloads: {{ .Values.app.directories.downloads }}

    shares:
      directories:
        {{- range .Values.app.shares.directories }}
        - {{ . | quote }}
        {{- end }}
      {{- with .Values.app.shares.filters }}
      filters:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      cache:
        storage_mode: {{ .Values.app.shares.cache.storageMode }}
        retention: {{ .Values.app.shares.cache.retention }}

    soulseek:
      listen_port: {{ .Values.app.soulseek.listenPort }}
      {{- if .Values.app.soulseek.distributedNetwork.enabled }}
      distributed_network:
        disabled: false
        child_limit: {{ .Values.app.soulseek.distributedNetwork.childLimit }}
      {{- end }}

    global:
      upload:
        slots: {{ .Values.app.limits.upload.slots }}
        {{- if gt (int .Values.app.limits.upload.speedLimit) 0 }}
        speed_limit: {{ .Values.app.limits.upload.speedLimit }}
        {{- end }}
      download:
        slots: {{ .Values.app.limits.download.slots }}
        {{- if gt (int .Values.app.limits.download.speedLimit) 0 }}
        speed_limit: {{ .Values.app.limits.download.speedLimit }}
        {{- end }}

    web:
      port: 5030
      {{- if .Values.app.urlBase }}
      url_base: {{ .Values.app.urlBase }}
      {{- end }}
      {{- if .Values.app.web.authenticationDisabled }}
      authentication:
        disabled: true
      {{- end }}

    {{- if .Values.app.retention }}
    retention:
      transfers:
        upload: {{ .Values.app.retention.uploads | default 0 }}
        download: {{ .Values.app.retention.downloads | default 0 }}
      searches: {{ .Values.app.retention.searches | default 7 }}
    {{- end }}

    permissions:
      file:
        mode: {{ .Values.app.permissions.fileMode | default "0644" }}

    {{- if .Values.metrics.enabled }}
    metrics:
      enabled: true
      url: /metrics
      authentication:
        disabled: {{ .Values.metrics.authentication.disabled }}
    {{- end }}
