{{- if .Values.observability.scrape.enabled }}
{{- $ctx := dict "first" true }}
{{- range $moduleName, $module := .Values.modules }}
{{- range $index, $target := $module.targets }}
{{- if not (index $ctx "first") }}
---
{{- end }}
{{- $_ := set $ctx "first" false }}
apiVersion: {{ include "prometheus-pve-exporter.scrapeConfigApiVersion" $ }}
kind: {{ include "prometheus-pve-exporter.scrapeConfigKind" $ }}
metadata:
  name: {{ include "prometheus-pve-exporter.name" $ }}-{{ $moduleName }}-{{ $index }}
  labels:
    {{- include "prometheus-pve-exporter.labels" $ | nindent 4 }}
    {{- with $.Values.observability.scrape.selector }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if eq $.Values.observability.type "victoriametrics" }}
  interval: {{ $.Values.observability.scrape.interval | default "30s" }}
  scrapeTimeout: {{ $.Values.observability.scrape.timeout | default "60s" }}
  path: /pve
  {{- else }}
  scrapeInterval: {{ $.Values.observability.scrape.interval | default "30s" }}
  scrapeTimeout: {{ $.Values.observability.scrape.timeout | default "60s" }}
  metricsPath: /pve
  {{- end }}
  params:
    target: [{{ $target }}]
    module: [{{ $moduleName }}]
  staticConfigs:
    - targets:
        - {{ include "prometheus-pve-exporter.serviceName" $ }}.{{ $.Release.Namespace }}:{{ include "prometheus-pve-exporter.servicePort" $ }}
{{- end }}
{{- end }}
{{- end }}
