apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flaresolverr.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flaresolverr.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    {{- include "flaresolverr.strategy" (dict "local" .Values.strategy "global" .Values.global.strategy) | nindent 4 }}
  selector:
    matchLabels:
      {{- include "flaresolverr.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "flaresolverr.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "flaresolverr.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "flaresolverr.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8191
              protocol: TCP
            {{- if .Values.app.prometheusEnabled }}
            - name: metrics
              containerPort: {{ .Values.app.prometheusPort }}
              protocol: TCP
            {{- end }}
          env:
            - name: LOG_LEVEL
              value: {{ .Values.app.logLevel | quote }}
            - name: LOG_HTML
              value: {{ .Values.app.logHtml | quote }}
            - name: BROWSER_TIMEOUT
              value: {{ .Values.app.browserTimeout | quote }}
            - name: TEST_URL
              value: {{ .Values.app.testUrl | quote }}
            - name: HEADLESS
              value: {{ .Values.app.headless | quote }}
            {{- if .Values.app.lang }}
            - name: LANG
              value: {{ .Values.app.lang | quote }}
            {{- end }}
            {{- if .Values.app.prometheusEnabled }}
            - name: PROMETHEUS_ENABLED
              value: "true"
            - name: PROMETHEUS_PORT
              value: {{ .Values.app.prometheusPort | quote }}
            {{- end }}
            {{- if or .Values.app.captchaSolver .Values.app.existingSecret }}
            - name: CAPTCHA_SOLVER
              {{- if .Values.app.existingSecret }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.app.existingSecret }}
                  key: {{ .Values.app.captchaSolverKey }}
              {{- else }}
              value: {{ .Values.app.captchaSolver | quote }}
              {{- end }}
            {{- end }}
            {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
