apiVersion: v1
kind: Service
metadata:
  name: {{ include "flaresolverr.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flaresolverr.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.app.prometheusEnabled }}
    - port: {{ .Values.app.prometheusPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "flaresolverr.selectorLabels" . | nindent 4 }}
